h2,h3,h4,h5 {
  margin: 0;
  padding: 0;
}

ul,li,dl,dt,dd {
  margin:0;
  padding:0;
  list-style: none;
}

p {
  margin: 1em 0 0 0;
}

a { 
  text-decoration: none;
  color: #000;
}
a:hover { 
  transition: .3s;
  opacity: 0.6;
}

.contents-wrapper {
  padding: 100px 0;
  .contents {
    width: 80%;
    margin: 0 auto;
    .tabs {
      margin-top: 50px;
      display: flex;
      justify-content: space-around;
      button {
        border: none;
        border-bottom: solid 1px;
        background: transparent;
        outline: none;
        width: 30%;
        display: inline;
        font-size: 30px;
      }
      .tab-button {
        color: black;
        opacity: 0.2;
      }
      .active {
        color: brown;
        opacity: 1.0;
      }
    }

    .food-contents {
      display: flex;
      justify-content: space-between;
    }

    .drink-contents {
      display: flex;
      justify-content: space-between;
    }

    .left-contents {
      width: 47%;
    }
    .right-contents {
      width: 47%;
    }

    .junre {
      margin-top: 3em;
    }

    h5 {
      border-bottom: solid 1px;
      text-align: center;
      padding: 20px 0;
    }

    .menu li {
      display: flex;
      justify-content: space-between;
      border-bottom: solid 1px rgba(0, 0, 0, 0.2);
    }

    .course-contents {
      display: flex;
      justify-content: space-between;
      width: 100%;
      .course {
        width: 30%;
        .menu-name {
          margin-left: 3em;
        }
        li {
          border-bottom: none;
        }
      }
    }
  }
}