<div class="course-contents">
  <div class="course course-left-contents">
    <div class="junre A-course" id="A-course">
      <h5>Aコース: 3000円</h5>
      <ul class="menu">
        <li><p class="menu-name">マグロとアボカドのサラダ</p></li>
        <li><p class="menu-name">自家製パスタ</p></li>
        <li><p class="menu-name">自家製生地の手作りピッツァ</p></li>
        <li><p class="menu-name">本日のデザート</p></li>
      </ul>
    </div>
  </div>
  <div class="course course-center-contents">
    <div class="junre B-course" id="B-course">
      <h5>Bコース: 4500円</h5>
      <ul class="menu">
        <li><p class="menu-name">カプレーゼ</p></li>
        <li><p class="menu-name">本日のおすすめカルパッチョ</p></li>
        <li><p class="menu-name">自家製パスタ</p></li>
        <li><p class="menu-name">自家製生地の手作りピッツァ</p></li>
        <li><p class="menu-name">本日のデザート</p></li>
      </ul>
    </div>
  </div>
  <div class="course course-right-contents">
    <div class="junre C-course" id="C-course">
      <h5>Cコース: 6000円</h5>
      <ul class="menu">
        <li><p class="menu-name">食前酒のスパークリングワイン</p></li>
        <li><p class="menu-name">カプレーゼ</p></li>
        <li><p class="menu-name">本日のおすすめカルパッチョ</p></li>
        <li><p class="menu-name">ベジタブル　ミネストローネ</p></li>
        <li><p class="menu-name">自家製パスタ</p></li>
        <li><p class="menu-name">自家製生地の手作りピッツァ</p></li>
        <li><p class="menu-name">本日のデザート</p></li>
      </ul>
    </div>
  </div>  
</div>