<div class="drink-contents">
  <div class="left-contents">
    <div class="junre Beer">
      <h5>Beer</h5>
      <ul class="menu">
        <li><p class="menu-name">サッポロクラシック</p><p class="price">500円</p></li>
        <li><p class="menu-name">ギネス</p><p class="price">500円</p></li>
        <li><p class="menu-name">ハイネケン</p><p class="price">500円</p></li>
      </ul>
    </div>
    <div class="junre Whisky">
      <h5>Whisky</h5>
      <ul class="menu">
        <li><p class="menu-name">ラフロイグ</p><p class="price">900円</p></li>
        <li><p class="menu-name">マッカラン</p><p class="price">900円</p></li>
        <li><p class="menu-name">グレンフィディック</p><p class="price">900円</p></li>
        <li><p class="menu-name">山崎12年</p><p class="price">800円</p></li>
        <li><p class="menu-name">白州12年</p><p class="price">800円</p></li>
      </ul>
    </div>
    <div class="junre Umeshu">
      <h5>梅酒</h5>
      <ul class="menu">
        <li><p class="menu-name">梅酒</p><p class="price">480円</p></li>
        <li><p class="menu-name">黒糖梅酒</p><p class="price">480円</p></li>
      </ul>
    </div>
  </div>
  <div class="right-contents">
    <div class="junre wine">
      <h5>Wine</h5>
      <ul class="menu">
        <li><p class="menu-name">グラスワイン 赤・白</p><p class="price">各500円</p></li>
        <li><p class="menu-name">サングリア 赤・白</p><p class="price">各500円</p></li>
      </ul>
    </div>
    <div class="junre red-wine">
      <h5>赤ワイン</h5>
      <ul class="menu">
        <li><p class="menu-name">カベルネ・ソーヴィニョン</p><p class="price">2500円</p></li>
        <li><p class="menu-name">マルベック</p><p class="price">3680円</p></li>
        <li><p class="menu-name">ナパ・カベルネソーヴィニョン</p><p class="price">5980円</p></li>
      </ul>
    </div>
    <div class="junre white-wine">
      <h5>白ワイン</h5>
      <ul class="menu">
        <li><p class="menu-name">シャルドネ・オーガニック</p><p class="price">2500円</p></li>
        <li><p class="menu-name">ソアヴェ・フォンタナ</p><p class="price">3680円</p></li>
        <li><p class="menu-name">シャブリ・ラ・ピエレレ</p><p class="price">5980円</p></li>
    </div>
    <div class="junre soft-drink">
      <h5>Soft Drink</h5>
      <ul class="menu">
        <li><p class="menu-name">コーラ</p><p class="price">400円</p></li>
        <li><p class="menu-name">オレンジジュース</p><p class="price">400円</p></li>
    </div>
  </div>
</div>