<div class="food-contents">
  <div class="left-contents">
    <div class="junre Salada">
      <h5>Salada</h5>
      <ul class="menu">
        <li><p class="menu-name">ベーコンときのこのシーザーサラダ</p><p class="price">680円</p></li>
        <li><p class="menu-name">フレッシュトマトのカプレーゼ</p><p class="price">680円</p></li>
        <li><p class="menu-name">生ハムとルッコラのサラダ</p><p class="price">780円</p></li>
      </ul>
    </div>
    <div class="junre Appetizer">
      <h5>Appetizer</h5>
      <ul class="menu">
        <li><p class="menu-name">3種のオリーブの盛り合わせ</p><p class="price">380円</p></li>
        <li><p class="menu-name">ソーセージ3種盛り合わせ</p><p class="price">880円</p></li>
        <li><p class="menu-name">本日のチーズ3種盛り合わせ</p><p class="price">880円</p></li>
      </ul>
    </div>
    <div class="junre Pasta">
      <h5>Pasta</h5>
      <ul class="menu">
        <li><p class="menu-name">ナスとベーコンのトマトパスタ</p><p class="price">880円</p></li>
        <li><p class="menu-name">カルボナーラ</p><p class="price">980円</p></li>
        <li><p class="menu-name">ボンゴレビアンコ</p><p class="price">980円</p></li>
        <li><p class="menu-name">ボロネーゼ</p><p class="price">980円</p></li>
        <li><p class="menu-name">ジェノベーゼ</p><p class="price">980円</p></li>
        <li><p class="menu-name">ペスカトーレ</p><p class="price">1080円</p></li>
      </ul>
    </div>
  </div>
  <div class="right-contents">
    <div class="junre Pizza">
      <h5>Pizza</h5>
      <ul class="menu">
        <li><p class="menu-name">バジルとモッツァレラのマルゲリータ</p><p class="price">880円</p></li>
        <li><p class="menu-name">パルミジャーノ</p><p class="price">980円</p></li>
        <li><p class="menu-name">ビスマルク</p><p class="price">980円</p></li>
        <li><p class="menu-name">クアトロフォルマッジ</p><p class="price">980円</p></li>
        <li><p class="menu-name">マリナーラ</p><p class="price">980円</p></li>
        <li><p class="menu-name">カルツォーネ</p><p class="price">980円</p></li>
        <li><p class="menu-name">バンビーノ</p><p class="price">980円</p></li>
        <li><p class="menu-name">ディアボラ</p><p class="price">980円</p></li>
        <li><p class="menu-name">ナポリターナ</p><p class="price">980円</p></li>
      </ul>
    </div>
    <div class="junre Dolce">
      <h5>Dolce</h5>
      <ul class="menu">
        <li><p class="menu-name">ティラミス</p><p class="price">380円</p></li>
        <li><p class="menu-name">カタラーナ</p><p class="price">380円</p></li>
        <li><p class="menu-name">パンナコッタ</p><p class="price">380円</p></li>
        <li><p class="menu-name">本日のジェラート</p><p class="price">480円</p></li>
      </ul>
    </div>
  </div>
</div>