<section class="mainvisual">
  <img src="https://www.pakutaso.com/shared/img/thumb/tachiaraiIMGL4863_TP_V.jpg" alt="Fig.1">
</section>
<main>
  <section class="menus">
    <div class="content-wrapper">
      <div class="bg2"></div>
    　<h1>こだわり</h1>
      <div class="contents">
        <div class="content">
          <img src="images/pizza.jpg">
          <p class="title">窯焼きピッツァ</p>
          <p>本格的な窯を使って高温で一気に焼き上げ、常に焼き立てをご提供します。</p>
        </div>
        <div class="content">
          <img src="images/pasta.jpg">
          <p class="title">素材へのこだわり</p>
          <p>肉、野菜、魚など、その季節でもっとも旬な食材を選び、素材の特徴に合わせた調理法での1皿をご用意しております。</p>
        </div>
        <div class="content">
          <img src="images/wine.jpg">
          <p class="title">ワインの品質管理</p>
          <p>徹底した温度管理で常に最高品質のワインをご提供します。</p>
        </div>
      </div>
    </div>
  </section>
  <section class="access" id="access">
    <div class="content-wrapper">
      <h1>アクセス</h1>
      <div class="content">
        <ul>
          <li><p class="property">住所</p><p>東京都渋谷区 ハチ公前広場</p></li>
          <li><p class="property">アクセス</p><p>JR各線「渋谷駅」より徒歩1分</p></li>
        </ul>
        <%= render partial: "map.html.erb" %>
      </div>
    </div>
  </section>
</main>
<footer class="footer">
  <div class="content-wrapper">
    <h2>お問い合わせ ☎︎01-2345-6789</h2>
    <ul class="footer-contents">
      <li><p class="property">店名</p><p>Buono</p></li>
      <li><p class="property">営業時間</p><p>17:30 ~ 23:00 (L.O.22:00)</p></li>
      <li><p class="property">定休日</p><p>年末年始</p></li>
    </ul>
  </div>
  <div class="copylight">
    <p>©️ XXCo., Ltd. All Rights Reserved.</p>
  </div>
</footer>