<div class="contents-wrapper">
  <div class="tabs">
    <button class="tab-button">Food</button>
    <button class="tab-button">Drink</button>
    <button class="tab-button">Course</button>
  </div>
  <div class="tab-content Food">
    <h2>Food</h2>
    <%= render partial: "food.html.erb" %>
  </div>
  <div clss="tab-content Drink">
    <h2>Drink</h2>
    <%= render partial: "drink.html.erb" %>
  </div>
  <div class="tab-content Course">
    <h2>Course</h2>
    <%# <%= render partial: "course.html.erb" %>
  </div>
</div>