@charset "UTF-8";

/*========= base ===========*/

html {
  margin: 0;
  padding:0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", sans-serif;
  font-weight: 500;
  color: #333;
  line-height: 2.0;
  background-image: url(/images/wallpaper.jpg);
}

h2,h3,h4,h5 {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  vertical-align: bottom;
}

ul,li,dl,dt,dd {
  margin:0;
  padding:0;
  list-style: none;
}

p {
  margin: 0 0 1em 0;
}

a { 
  text-decoration: none;
  color: #000;
}
a:hover { 
  transition: .3s;
  opacity: 0.6;
}

.content-wrapper {
   width: 1400px;
   margin: 0 auto;
}

$brown-color: #2C1E0C;

header {
  width: 100%;
  position: fixed;
  background-color: $brown-color;
  opacity: 0.85;
  color: white;
  z-index: 10;
  .header-nav {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .restaurant-name {
      line-height: 100px;
      padding-left: 40px;
    }
    .header-contents {
      display: flex;
      line-height: 100px;
      font-size: 20px;
      .header-content {
        margin-right: 50px;
        a {
          color: white;
        }
      }
    }
  }
}

.mainvisual {
  position: relative;
  height: 800px;
  padding-top: 100px;
  img {
    width: 100%;
    height: 800px;
  }
}

.menus {
  width: 100%;
  padding-top: 240px;
  position: relative;
  h1 {
    text-align: center;
    margin-bottom: 60px;
  }
  .contents {
    display: flex;
    justify-content: space-between;
    .content {
      padding: 0 30px;
      img {
        height: 300px;
        width: 400px;
      }
      .title {
        margin-bottom: 0;
      }
    }
  }
}

.access {
  width: 100%;
  padding: 120px 0;
  h1 {
    text-align: center;
    margin-bottom: 50px;
  }
  .content {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    li {
      display: flex;
      width: 450px;
      font-size: 20px;
      .property {
        text-align: left;
        width: 150px;
        padding-right: 50px;
      }
    }
    #map {
      height: 90%;
      width: 50%;
    }
  }
}

footer {
  .content-wrapper {
    height: 300px;
    background-color: $brown-color;
    opacity: 0.9;
    color: white;
    width: 100%;
    text-align: center;
    padding-top: 50px;
    .footer-contents {
      margin-top: 50px;
      li {
        display: flex;
        justify-content: start;
        width: 40%;
        margin: 0 auto;
        .property {
          text-align: left;
          width: 200px;
          padding-right: 50px;
        }
      }
    }
  }
  .copylight p {
    background-color: $brown-color;
    opacity: 0.9;
    height: 70px;
    text-align: center;
    line-height: 70px;
    margin: 0;
    color: white;
    font-size: 12px;
  }
}