@charset "UTF-8";

/*========= base ===========*/

html {
  margin: 0;
  padding:0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", sans-serif;
  font-weight: 500;
  color: #333;
  line-height: 2.0;
}

h2,h3,h4,h5 {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  vertical-align: bottom;
}

ul,li,dl,dt,dd {
  margin:0;
  padding:0;
  list-style: none;
}

p {
  margin: 0 0 1em 0;
}

a { 
  text-decoration: none;
  color: #000;
}
a:hover { 
  transition: .3s;
  opacity: 0.6;
}

section {
  margin-bottom: 120px;
}

.content-wrapper {
   width: 1400px;
   margin: 0 auto;
}



header {
  width: 100%;
  position: fixed;
  background-color: #2C1E0C;
  opacity: 0.85;
  color: white;
  z-index: 10;
  .header-nav {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .company-name {
      line-height: 100px;
      padding-left: 40px;
    }
    .header-contents {
      display: flex;
      line-height: 100px;
      .header-content {
        margin-right: 50px;
        a {
          color: white;
        }
      }
    }
  }
}

.mainvisual {
  position: relative;
  height: 800px;
  padding-top: 100px;
  margin-bottom: 200px;
  img {
    width: 100%;
    height: 800px;
    // object-fit: cover;
  }
}

.menus {
  width: 100%;
  padding-top: 40px;
  position: relative;
  &::before {
    content: '';
    background-color: #2C1E0C;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    height: 300px;
    z-index: -1;
  }
  h2 {
    text-align: center;
    margin-bottom: 60px;
    color: white;
  }
  .contents {
    display: flex;
    justify-content: space-between;
    .content {
      padding: 0 30px;
      img {
        height: 300px;
        width: 400px;
      }
      .title {
        margin-bottom: 0;
      }
    }
  }
}

.recruit {
  width: 100%;
  position: relative;
  &::before {
    content: '';
    background-color: #e8e7e7;
    position: absolute;
    right: 0;
    width: 50%;
    height: 400px;
    z-index: -1;
  }
  .content {
    position: relative;
    img {
      width: 70%;
      height: 400px;
      margin-top: 100px;
      margin-left: 0;
    }
    a {
      position: absolute;
      top: 270px;
      left: 25%;
      background-color: rgba(255,255,255,0.6);
      line-height: 60px;
      text-align: center;
      width: 250px;
      display: inline-block;
    }
  }
}

.footer {
  .content-wrapper {
    height: 350px;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    width: 100%;
    text-align: center;
    padding-top: 50px;
    .footer-contents {
      margin-top: 50px;
      li {
        display: flex;
        justify-content: start;
        width: 40%;
        margin: 0 auto;
        .property {
          text-align: left;
          width: 200px;
          padding-right: 50px;
        }
      }
    }
  }
  .copylight p {
    background-color: rgba(0, 0, 0, 0.9);
    height: 70px;
    text-align: center;
    line-height: 70px;
    margin: 0;
  }
}